#wrapper
  #sidebar-wrapper
    ul.sidebar-nav
      li.sidebar-brand
        a[href="#"]
          |  NBA
        .container
          .row
            .col-sm-6
              .form-group
                #datetimepicker1.input-group.date
                  input#INPUT_DATETIME.form-control[name="INPUT_DATETIME" type="text" value="20170416"]
                  span#input_pick.input-group-addon
                    span.glyphicon.glyphicon-calendar
            script[type="text/javascript"]
              |  $(function () { $("#datetimepicker1").datetimepicker({ format: 'YYYY/MM/DD', }).on('dp.change', function (e) { var d = new Date(e.date); var value = ""; value += d.getFullYear(); var month = d.getMonth()+1; month = month < 10 ? '0' + month : '' + month ; value += month; var date = d.getDate(); date = date < 10 ? '0' + date : '' + date ; value += date; console.log(value); }); });
  #page-content-wrapper
    .container-fluid
      h1
        | TOP 5 Today
      p
        | test
        code
          | #page-content-wrapper
        | .
      a#menu-toggle.btn.btn-info[href="#menu-toggle"]
        | Toggle Menu
      script[type="text/javascript"]
        |  $("#menu-toggle").click(function(e) { e.preventDefault(); $("#wrapper").toggleClass("toggled"); });
